.ion-chat{    
  background: url(../../assets/wechat.png) 0 0 no-repeat;
  background-size: 100%;
}
.ion-contact{
  background: url(../../assets/contact.png) 0 0 no-repeat;
  background-size: 100%;
}
.ion-discover{
  background: url(../../assets/discover.png) 0 0 no-repeat;
  background-size: 100%;
}
.ion-account{
  background: url(../../assets/account.png) 0 0 no-repeat;
  background-size: 100%;
}
.active{
  .ion-chat{    
    background: url(../../assets/wechat-active.png) 0 0 no-repeat;
    background-size: 100%;
  }
  .ion-contact{    
    background: url(../../assets/contact-active.png) 0 0 no-repeat;
    background-size: 100%;
  }
  .ion-discover{    
    background: url(../../assets/discover-active.png) 0 0 no-repeat;
    background-size: 100%;
  }
  .ion-account{    
    background: url(../../assets/account-active.png) 0 0 no-repeat;
    background-size: 100%;
  }
}

.tab{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 44px;
  width: 100%;
  background: #f1f1f1;
  border-top:1px solid #aaa;
  a{
    display: inline-block;
    width: 25%;
    text-align: center;
    padding:0;
    color:#555;
    height: 44px;
    font-size: 12px;
    &.active{
      color:#2aa515;
    }
  }
  i{
    display: block;
    width: 20px;
    height: 20px;
    margin:4px auto 0;
  }
}