/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Microsoft Yahei";
}
body{
  margin: 0;
}
a{
  text-decoration: none;
}
.content{
	position: absolute;
    top: 44px;
    bottom: 44px;
    width: 100%;
    overflow: scroll;
}